body {
    background-image: url(https://github.com/blericalopes/SAP008-data-lovers/blob/main/src_data_lovers/bg_img_galaxy.jpg?raw=true);
    background-size: contain;
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    color: white;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    height: 100vh;
}

aside {
    mix-blend-mode: lighten;
    z-index: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#title {
    cursor: pointer;
    object-fit: contain;
    z-index: 1;
}

#intro {
    margin-block-start: 0px;
}

input[name=keywords] {
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    padding-left: 4%;
    border: none;
    background-color: white;
    margin-block-start: 0px;
    margin-block-end: 20px;
}

.buttons {
    font-family: 'Atma', cursive;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    border-color: transparent;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    margin-block-end: 10px;
    z-index: 1;
}

#filter,
#restart {
    -webkit-text-stroke-color: #73D8CC;
}

#search {
    -webkit-text-stroke-color: #78C742;
}

#filteroptions,
#orderoptions {
    font-family: 'K2D', sans-serif;
    width: 160px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    margin: 5px;
    border: none;
}

#calculation {
    margin-block-start: 0px;
}

.percentagenumber {
    font-family: 'Atma', cursive;
    text-shadow: 0px 0px 4px #00ffe1, 0 0 1em #73d8cc;
    font-size: 24px;
}

#filterbox {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1%;
    width: max-content;
}

#cardscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    z-index: 1;
}

.cards {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1%;
    border-radius: 15px;
    text-align: center;
    border: 5px solid #78C742;
    box-shadow:
        inset 0 0 0 5px black,
        inset 0 0 0 10px #73D8CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
}


#photos {
    border-radius: 10px;
}

p#names {
    font-family: 'Atma', cursive;
    text-transform: uppercase;
    border-color: transparent;
    background-color: transparent;
    font-weight: 700;
    word-wrap: break-word;
    margin: 5px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 5px;
    margin-block-end: 20px;
    padding-inline-start: 0px;
}

li {
    color: rgb(0, 0, 0);
    list-style-type: none;
}

.type {
    color: white;
    font-weight: 500;
}

footer {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    bottom: 0;
    position: fixed;
}

@media (max-width: 768px) {
    body {
        flex-wrap: wrap;
        font-size: 14px;
        overflow: hidden;
    }

    main {
        margin-top: -130px;
    }

    #portalmobile {
        width: 100vw;
        margin-top: -60px;
    }

    #portalweb {
        display: none;
    }

    #title {
        width: 90vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #intro {
        margin-block-end: 20px;
        width: 75vw;
    }

    input[name=keywords] {
        font-size: 14px;
        width: 350px;
        height: 30px;
        border-radius: 15px;
        margin-block-end: 10px;
    }

    .buttons {
        font-size: 24px;
        margin-bottom: 0;
    }

    #calculation {
        margin-block-end: 10px;
    }

    #cardscontainer {
        height: 295px;
    }

    .cards {
        flex: 0 1 50%;
        max-height: -webkit-fill-available;
    }

    #photos {
        margin: 5px;
        margin-top: 20px;
        height: 120px;
    }

    p#names {
        font-size: 16px;
        width: 130px;
    }

    ul {
        margin-block-start: 1px;
    }

}

@media (min-width: 769px) {
    body {
        flex-direction: row;
        font-size: 18px;
    }

    #portalmobile {
        display: none;
    }

    #portalweb {
        width: 50vw;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    main {
        margin-left: 50%;
        margin-right: 1%;
    }

    #title {
        width: 40vw;
        margin-bottom: 20px;
    }

    #intro {
        margin-block-end: 35px;
        width: 500px;
    }

    input[name=keywords] {
        width: 500px;
        height: 44px;
        border-radius: 22px;
        font-size: 18px;
        margin-block-end: 20px;
    }

    .buttons {
        font-size: 28px;
    }

    #calculation {
        margin-block-end: 20px;
    }

    #cardscontainer {
        height: 50vh;
    }

    #photos {
        margin: 20px;
        height: 200px;
    }

    p#names {
        font-size: 22px;
        width: 150px;
    }

}